<%= form_for @post, :html => { :multipart => true } do |f| %>
<form class="form-horizontal" role="form">
	
	<div class="form-group">
		<div class="input-group">
			<%= f.text_area :content, rows: 10, cols: 100, class: 'form-control' %>
		</div>
	</div>

	<div class="btn-group">
		<%= f.submit class: "btn btn-primary" %>
	</div>
	
</form>
<% end %>

